version: "3.7"

services:
  web:
    image: 127.0.0.1:5000/flask-redis
    build: .
    deploy:
      replicas: 2
    ports:
      - "5001:5000"

  redis:
    image: redis:alpine
    volumes:
      - redis-data:/data
    ports:
      - "6379:6379"

volumes: redis-data
